html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(#ff7e5f, #feb47b, #ff6a88, #ff9a9e, #ff7e5f);
    background-size: cover;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 56, 56);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open {
    background-image: linear-gradient(#ff7e5f, #feb47b, #ff6a88, #ff9a9e, #ff7e5f);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 0.5s all ease;
}

.open h2 {
    margin-bottom: 20px;
    text-align: center;
    max-width: 90%; /* Responsif */
}

.open .card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%; /* Responsif */
}

.open .card h3 {
    margin-top: 20px;
}

.open .card img {
    height: auto; /* Responsif */
    max-width: 100%; /* Responsif */
}

.atas {
    height: auto; /* Responsif */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.atas img {
    max-width: 100%; /* Responsif */
    height: auto; /* Responsif */
    margin-bottom: 20px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 30px rgba(0, 0, 0, 0.2);
}

.atas h2 {
    font-size: 2em; /* Ukuran font responsif */
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 30px rgba(0, 0, 0, 0.2);
}

.kartu-ucapan {
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%; /* Responsif */
    max-width: 800px; /* Batas lebar maksimum */
    margin-left: auto;
    margin-right: auto;
}

.foto {
    width: 90%; /* Responsif */
    padding-top: 30px;
    max-width: 400px; /* Batas lebar maksimum */
}

/* Media Queries */
@media (max-width: 768px) {
    .atas img, .atas h2, .kartu-ucapan {
        width: 100%;
        margin: 10px 0;
        font-size: 1.2em; /* Ukuran font responsif */
    }

    .atas img {
        height: 20vh; /* Responsif */
    }

    .kartu-ucapan {
        padding: 15px;
        font-size: 1em; /* Ukuran font responsif */
    }

    .open .card img {
        height: 8vw; /* Responsif */
    }

    .open .card h3 {
        font-size: 1em; /* Ukuran font responsif */
    }
}

@media (max-width: 480px) {
    .atas img, .atas h2, .kartu-ucapan {
        width: 100%;
        margin: 5px 0;
        font-size: 1em; /* Ukuran font responsif */
    }

    .atas img {
        height: 15vh; /* Responsif */
    }

    .kartu-ucapan {
        padding: 10px;
        font-size: 0.9em;
    }
